* {
  scrollbar-width: none;
  overscroll-behavior: contain;
    font-family: "kode Mono", monospace !important;

}

    .dark-mode .flex-item-1 {
      background-color: #050505 !important;
      color: white;
      border: solid 1px white;

    }

            .dark-mode .tab button.active {
      background-color: #2c2c2c !important;}

    .dark-mode .tab {
      background-color: #353535 !important;
      color: white;
      border: solid 1px white;
    }

  
       .dark-mode .tab a button:hover{
        background-color: #292929;
      }

      .dark-mode .row {
      background-color: #050505 !important;
      color: white;
    }

     .dark-mode .tab button {
      background-color: #050505 ;
      color: white;
      border-right: solid 1px white;

    }

    .dark-mode img{
      border: solid 1px white !important;
    }

        .dark-mode .tablinks {
      background-color: #131313 !important;
      color: white;
      border-right: solid 1px white;
    }

    .dark-mode .swatch {
      background-color: #35353500 !important;
      color: white;
    }

       .dark-mode  .tooltiptext {
      filter: invert(1);
    }

    .dark-mode .push-right  {
      background-color: #131313 !important;
      color: white;
      border-left: #ffffff solid 1px !important;
    }
         .dark-mode a p {
      color: white;
    }
     
    .dark-mode .two-column-flex div
 {
      background-color: #353535 !important;
      color: white;
      border-right: solid 1px white;
    }

    .dark-mode #theme {
      filter: invert(1);
    }
    .dark-mode body {
      background-color: rgb(0, 0, 0) !important;
      background:
    linear-gradient(-90deg, rgba(255, 255, 255, 0.05) 5px, transparent 5px),
    linear-gradient(rgba(255, 255, 255, 0.05) 5px, transparent 5px),
    linear-gradient(-90deg, rgba(255, 255, 255, 0.04) 2px, transparent 2px),
    linear-gradient(rgba(255, 255, 255, 0.04) 1px, transparent 1px),
    linear-gradient(
      transparent 4px,
      #0d0d0d 4px,
      #0d0d0d 78px,
      transparent 78px
    ),
    linear-gradient(-90deg, #555555 2px, transparent 2px),
    linear-gradient(
      -90deg,
      transparent 4px,
      #0d0d0d 4px,
      #0d0d0d 78px,
      transparent 78px
    ),
    linear-gradient(#555555 2px, transparent 2px), #0d0d0d;
  background-size:
    4px 4px,
    4px 4px,
    80px 80px,
    80px 80px,
    80px 80px,
    80px 80px,
    80px 80px,
    80px 80px;

      background-repeat: repeat;

      font-family: "kode Mono", monospace !important;
      font-optical-sizing: auto;
      overflow: auto;

      animation: diagonal-pan 10s linear infinite;
    }



body {
  background:
    linear-gradient(-90deg, rgba(0, 0, 0, 0.05) 5px, transparent 5px),
    linear-gradient(rgba(0, 0, 0, 0.05) 5px, transparent 5px),
    linear-gradient(-90deg, rgba(0, 0, 0, 0.04) 2px, transparent 2px),
    linear-gradient(rgba(0, 0, 0, 0.04) 1px, transparent 1px),
    linear-gradient(
      transparent 4px,
      #f2f2f2 4px,
      #f2f2f2 78px,
      transparent 78px
    ),
    linear-gradient(-90deg, #aaa 2px, transparent 2px),
    linear-gradient(
      -90deg,
      transparent 4px,
      #f2f2f2 4px,
      #f2f2f2 78px,
      transparent 78px
    ),
    linear-gradient(#aaa 2px, transparent 2px), #f2f2f2;
  background-size:
    4px 4px,
    4px 4px,
    80px 80px,
    80px 80px,
    80px 80px,
    80px 80px,
    80px 80px,
    80px 80px;

  background-repeat: repeat;

  font-family: "kode Mono", monospace !important;
  font-optical-sizing: auto;
  overflow: hidden;

  animation: diagonal-pan 10s linear infinite;
}

@keyframes diagonal-pan {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 80px 80px;
  }
}

.homeheader {
  margin-top: 15px;
}

.container1 {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 20px;
  box-sizing: border-box;
}

.container2 {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.container3 {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.flex-item-1 {
  height: fit-content;
  width: calc(100% - 200px);
  max-width: 1200px;
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
  margin: 3% auto 3% auto;

  overflow-y: scroll;
}

@media (max-width: 900px) {
  .flex-item-1 {
    width: calc(100% - 8vw);
    max-width: 100%;
  }
}

.image-text-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.image-text-container div {
  text-align: center;
  text-shadow: 1px 1px 5px rgb(0, 0, 0);
}

.image-text-container img {
  width: 60%;
}

.image-text-container p {
  margin: 0px;
  font-size: 14px;
  color: #333;
}

body {
  font-family: Arial;
}

.tab {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  border-bottom: 1px solid #000;
  border-right-width: 1px;
  background-color: #f1f1f1;
}

.tab {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 30;
  --tab-height: 48px;
}

.tab::-webkit-scrollbar {
  display: none;
}

.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 16px;
  transition: 0.3s;
  font-size: 17px;
  font-family: "kode Mono", monospace !important;
  border-right: 1px solid black;
  white-space: nowrap;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  height: fit-content;
  overflow-y: auto;
  overscroll-behavior: contain;
}

.tabcontent iframe {
  display: block;
  width: 100%;
  height: 740px;
  border: 0;
}

marquee {
  display: block;
  margin: 0;
  padding: 10px 0;
  background: #333;
  color: white;
  white-space: nowrap;
}

marquee a {
  color: white;
  text-decoration: none;
  margin: 0 20px;
}

marquee a:hover {
  text-decoration: underline;
}

.ib-icon .HEAD {
  width: 0px -important;
  height: 0px -important;
}

element {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  scrollbar-width: none;
}
.crt::before {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background:
    linear-gradient(rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.07) 50%),
    linear-gradient(90deg, rgba(0, 255, 255, 0.05), rgba(255, 0, 255, 0.03), rgba(255, 255, 0, 0.05));
  z-index: 400;
  background-size:
    100% 4px,
    4px 100%;
  pointer-events: none;
}

@keyframes flicker {
  0% {
    opacity: 0.27861;
  }

  5% {
    opacity: 0.34769;
  }

  10% {
    opacity: 0.23604;
  }

  15% {
    opacity: 0.10626;
  }

  20% {
    opacity: 0.18128;
  }

  25% {
    opacity: 0.10626;
  }

  30% {
    opacity: 0.18128;
  }

  35% {
    opacity: 0.23604;
  }
}

.crt::after {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background:rgba(237, 245, 245, 0.03);
  opacity: 0;
  z-index: 400;
  pointer-events: none;
  animation: flicker 0.2s infinite;
}


@media only screen and (max-width: 119em) and (min-height: 844px) {
  .flex-item-1 {
    width: 100% !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .tab button {
    font-size: 12px !important;
    width: fit-content !important;
    padding: 10px 18px !important;
  }

  * {
    font-size: 12px !important;
  }

  .raining {
    /*height: 100% !important;*/
  }
}

button {
  font-weight: bold;
}
