
      body > span {
        width: 100% !important;
        height: 100% !important;
        max-width: 100% !important;
        max-height: 100% !important;
      }

      span[class*="_bd"] {
        height: 100% !important;
      }

      * {
        border: none !important;
        scrollbar-width: none;
      }
    