body {
  font-family: Gill Sans, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("https://images.ctfassets.net/hsst7dmi6ghe/3dJkFZ3FNSXAssg5lACXtf/eef3c17798541d56ba2a096203a645f0/2.gif");
  background-size: auto;
  background-repeat: repeat;
  background-position: top left;
  cursor: url("/img/icon1.png"), auto;
  transition: background-color 0.5s ease;
  background-color: #424242;
}

.content p {
  text-align: justify;
}

.container {
  display: flex;
  width: 710px;
  height: 516px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
  background: transparent;
}

.smallcontainer {
  display: flex;
  width: 200px;
  height: 300px;
  position: absolute;
  left: 30%;
  top: 10%;
  transform: translate(-200%, -10%);
  z-index: 100;
  background-color: #f6f0e7;
  color: #788585;
}

.sidebar {
  width: 170px;
  background-color: #c1dbf5;
  color: #ffffff;
  padding: 20px;
}

.content {
  flex: 1;
  padding: 20px;
  background-color: #ecf3ff;
  overflow-x: hidden;
  overflow-y: auto;
  color: #788585;
  font-size: 16px;
}

#content {
  flex: 1;
  background-color: #ecf3ff;
  overflow-x: hidden;
  overflow-y: auto;
  color: #788585;
  font-size: 16px;
}

.content p {
  color: grey;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.3px;
}

.content h1 {
  font-family: Kurale;
  font-size: 38px;
  color: #878076;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

.content h4 {
  font-size: 15px;
  font-style: italic;
  color: #c9beb3;
  font-family: Kurale;
}

.content a {
  color: #424242;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

.content a:hover {
  color: #7f7176;
}

.content h1:hover {
  color: #6d675f;
}

h1 {
  font-size: 33px;
}

h3 {
  font-weight: normal;
  font-style: italic;
  font-size: 22px;
}

.content h2 {
  color: #ffffff;
}

.header h1 {
  text-decoration: none;
}

.headLink {
  text-decoration: none;
}

.header {
  font-family: Kurale;
  background-color: #ffffff;
  color: #424242;
  padding: 10px;
  text-align: center;
  transform: translate(110px, -320px) rotate(3deg);
  width: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 700;
}

.header:hover {
  background-color: #c9beb3;
  color: #424242;
}

.sidebar a {
  color: #ffffff;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  display: block;
  height: 25px;
  line-height: 30px;
  padding: 5px 10px 5px 10px;
  font-size: 16px;
}

.sidebar a:hover {
  padding: 5px 15px 5px 15px;
}

#content p {
  background-image: linear-gradient(to bottom, transparent 19px, #629ee7 19px);
  background-size: 100% 20px;
  line-height: 20px;
  font-family: courier, monospace;
  font-size: 20px;
  padding: 0;
}


#lines {
  border-left: 1.5px solid #ff3318;
  padding-left: 5px;
  width: 2px;
  float: left;
  height: 516px;
  margin-left: 40px;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: #7f7176;
}


@media (max-width: 768px) {
  body {
    transform: scale(0.6);
    transform-origin: top center;
  }
}

@media (max-width: 480px) {
  body {
    transform: scale(0.4);
    transform-origin: top center;
  }
}
